
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.left-content {
    margin: 0;
    padding: 0;
    width: 15%;
    background: linear-gradient(135deg,rgb(0, 0, 0) 0%,rgb(107, 107, 106) 100%);
    position: fixed;
    height: 100%;
    overflow: auto;
}

h3 {
    margin-top: 15px;
    text-align: center;
    color: red;
    font-size: 30px;
}

ul {
    margin-top: 20px;
    list-style: none;
}

li a {
    margin-top: 15px;
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #6c72ee;
    margin-right: 30px;
    border-radius: 10px;
    color: white;
}

.right-content {
    margin-left: 20%;
    padding: 1px 16px;
}

.right-content .main_content {
    display: flex;
    align-items: center;
    margin-top: 90px;
}

.image_student {
    margin-left: 30px;
    height: auto;
    width: 30%;
}

.image_student img {
    height: auto;
    width: 80%;
    border: 1px solid rgb(223, 133, 133);
}
