.container-background {
    width: 100%;
    background-color: #00FFFF; /* Thay #your_color bằng mã màu mong muốn */
}

.right-content {
    display: flex;
    flex-direction: column; /* Sắp xếp các phần tử theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều dọc */
    align-items: center; /* Căn giữa theo chiều ngang */
    height: 100%; /* Đảm bảo nội dung được căn giữa trong toàn bộ chiều cao */
}

.right-content h2 {
    margin-bottom: 20px; /* Tạo khoảng cách dưới tiêu đề */
}

.profile-bounder {
    background-color: #ffffff; 
    padding: 20px; /* Khoảng cách padding */
    border-radius: 10px; /* Bo tròn các góc */
    margin-top: 100px; /* Khoảng cách từ trên xuống */
    margin-left: 17%; /* Lùi về bên trái 17% */
    max-width: 80%; /* Đặt chiều rộng tối đa là 80% */
}

.gray-background {
    background-color: #d7d7d7; /* Màu xám */
    height: 100vh;
}


