.header-background {
    position: relative;
    height: 100px; 
    background: linear-gradient(5deg,rgb(30, 145, 246) 30%,rgb(182, 220, 243) 100%);
    z-index: 3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-title {
    margin-left: 5vw; 
    height: 80px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 0, 0);
    font-size: 40px;
    cursor: pointer;
    text-shadow: 1px 0 0 #adadad; 
}

.header-user {
    position: absolute;
    right: 2vw; 
}

@media (max-width: 660px) {
    .header-title {
        position: absolute;
        font-size: 30px;
        top: 5px;
    }

    .header-user {
        position: absolute;
        top: 60px;
    }
}

