.header-background {
    position: relative;
    height: 12vh; 
    background: linear-gradient(135deg,rgb(0, 0, 0) 0%,rgb(176, 176, 176) 100%);
    
}

.header-title {
    margin-left: 5vw; 
    height: 10vh;
    font-family: "Times New Roman", Times, serif;
    color: white;
    font-size: 30px;
}

.header-user {
    position: absolute;
    right: 2vw; 
}

@media (max-width: 680px) {
    .header-background {
        height: 15vh; 
    }

    .header-title {
        top: 1vh; 
    }

    .header-user {
        top: 8vh; 
    }
}

@media (max-width: 460px) {
    .header-title {
        line-height: 6vh;
        font-size: 25px;
    }
}


