.header-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(135deg,rgb(0, 0, 0) 0%,rgb(176, 176, 176) 100%);
    color: #fff;
    padding: 10px;
    z-index: 999; 
}

.header-title {
    margin-left: 10vw; /* Sử dụng giá trị động dựa trên viewport width */
    font-family: "Times New Roman", Times, serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

  

.dropdown-container {
    position: fixed;
    top: 10px; /* Điều chỉnh vị trí từ phía trên */
    right: 2vw; /* Sử dụng giá trị động dựa trên viewport width */
    z-index: 1000; /* Đảm bảo dropdown-container hiển thị trên header-background */
}

.dropdown {
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: black; /* Chữ đen */
    background: rgb(255, 255, 255) 0%;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border: 3px solid black; /* Viền đen */
    border-radius: 5px; /* Bo tròn góc */
}

.dropbtn:hover {
    color: white; /* Chữ trắng khi hover */
    background-color: black; /* Nền đen khi hover */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white; /* Màu trắng */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 2px solid black; /* Viền đen */
    border-radius: 5px; /* Bo tròn góc */
}

.dropdown-content a {
    color: black; /* Màu chữ đen */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black; /* Màu chữ đen */
}

.dropdown:hover .dropdown-content {
    display: block;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu đen với độ trong suốt 50% */
    z-index: 999; /* Đảm bảo hiển thị trên giao diện bên dưới */
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-password-form {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: black; /* Đổi màu cho dấu x thành màu đen */
    cursor: pointer;
}

h2,
label {
    color: black; /* Đổi màu cho chữ "Mật khẩu mới", "Mật khẩu cũ", "Nhập lại mật khẩu" thành màu đen */
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.confirm-button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirm-button:hover {
    background-color: #686868;
    color: #ffffff;
}


.black-text {
    color: black; /* Màu chữ đen */
}
