


.image_student{
    img{
        height: auto;
        width: 100%;
        border: 1px solid rgb(223, 133, 133);
    }
    
}



.my-container:hover {
    transform: scale(1.1); /* Phóng to container khi hover */
}
