.Subject-Table {
    width: 1000px;
    margin-left: -10%; 
    border-collapse: collapse; /* Đảm bảo các đường biên không bị chồng chéo */
}

.Subject-Table th, .Subject-Table td {
    border: 1px solid #ccc; /* Thêm khung cho các ô */
    padding: 8px; /* Tạo khoảng cách giữa nội dung và khung */
}

.Subject-Table th {
    background-color: #f2f2f2; /* Màu nền cho các ô tiêu đề */
}

.Subject-Table tbody tr:nth-child(even) {
    background-color: #f9f9f9; /* Màu cho các hàng xen kẽ */
}