.timetable {
    border: 2px solid #333;
    border-radius: 8px;
    padding: 5px;
    max-height: 200px;
    position: absolute;
    left: 350px;
    top: 60px; 
    max-width: calc(100% - 380px);
    overflow: 'auto';
}

.scrollbar-container::-webkit-scrollbar {
    width: 10px;
}

.scrollbar-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scrollbar-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.scrollbar-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.custom-select {
    width: 50px;
    height: 30px;
    font-size: 14px;
    border-radius: 5px; 
    text-align: center; 
    appearance: none;
  }


.error-message {
    position: fixed;
    top: 60%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: #ffcccc;
    padding: 10px;
    border: 1px solid #ff0000;
    border-radius: 5px;
}

