.title {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 20px;
}

.select-semester {
  font-size: 20px;
  background-color: #ffffff
}

.student {
  max-width: 600px;
  margin: 0 auto;
}

.subject{
  margin: 10px 0 20px 0;
  background-color: #f0efef;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .student  {
    width: 90%;
  }
}