.select-semester {
    width: 10vw; 
    height: 7vh;
    background-color: white;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    font-size: 1.5vw;
    font-weight: bold;
}

/* Thiết lập kích thước cột */
.tableStudent-container th:first-child,
.tableStudent-container td:first-child {
    width: 10%; /* kích thước cột STT */
    text-align: center; /* căn giữa nội dung trong cột */
}
