.table-container {
    width: 100%; /* hoặc kích thước mong muốn */
    margin-right: 25%; /* căn giữa theo chiều ngang */
}

h2 {
    text-align: center; /* căn giữa theo chiều ngang */
    margin-right: 20%; /* lùi bên trái 20% */
}