.title {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin-bottom: 20px;
}

.select-semester {
  font-size: 20px;
  background-color: #ffffff
}

.student {
  max-width: 600px;
  margin: 0 auto;
}

.subject{
  width: 100%;
  margin: 10px 0 20px 0;
  background-color: #d5dff1e3;
  border-radius: 10px;
  border: 0.7px solid #0091ff;
  padding: 10px 30px 10px 10px;
  cursor: pointer;
}

.subject:active {
  background-color: #8cb8f7; /* Màu nền khi chạm hoặc click */
}

.SubjectWrapper {
  text-align: left;
  padding: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 660px) {
  .student  {
    width: 90%;
  }
}