/* .prf-container{
    padding: 7px;
} */

/* .header {
    background-color: rgb(176, 174, 180);
    margin-top: 2px;
    height: 200px;
    
    overflow: hidden;
    display: flex;
    align-items: center;
}

.header img {
    margin: 5px 30px;
    width: 8%; 
    height: auto;
    display: block;
}

.header span {
    font-size: 40px;
    text-align: center;
} */

.content{
    /* background-color: antiquewhite; */
    /* border: 1px solid #191717; */
    /* height: 500px; */

}
.left-content{
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #2c2789;
    
    position: fixed;
    height: 100%;
    overflow: auto;

    .anh_the{
        margin-top: 10px;
        width: 50%; 
        height: auto;
        display: block;
        margin-left: auto; /* Đẩy hình ảnh về phía bên trái */
        margin-right: auto;
    }
    
    /* background-color: antiquewhite;
    /* border: 1px solid #191717; */
    /* height: 900px; */
    h3{
        margin-top: 15px;
        text-align: center;
        color: red;
        font-size: 30px;
    }
    ul{
        margin-top: 20px;
        list-style:none;
    }
    li a {
        margin-top: 5px;
        display: block;
        color: #ffffff;
        padding: 8px 16px;
        text-decoration: none;
      } 

    li a:hover:not(.active) {
        background-color: #6c72ee;
        margin-right: 30px;
        border-radius:10px;
        color: white;
    }


    
}
.right-content{
    margin-left:20%;
    padding:1px 16px;
    h2{
        margin-top: 46px;
        margin-left: 410px ;
    }
}

.right-content .main_content{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 90px;
    
}
.image_student{
    margin-left: 30px;
    height: auto;
    width: 30%;

    img{
        height: auto;
        width: 80%;
        border: 1px solid rgb(223, 133, 133);
    }
    
}

.info_student{

}


/* .sitemap{
    li {
        font-size: 18px;
        margin: 10px 0;
    }
} */